@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #FDFCF8;
  color: #1a1a1a;
}

/* This removes the default blue border on buttons */
button:focus {
  outline: none;
}